<header class="ag-orange">
	<div class="sticky-nav">
		<a id="mobile-nav" class="menu-nav" href="#">
		</a>
		
		<div id="logo">
			<a id="goUp" href="#home-slider" title="AirGuitar | Guitar Pedals on the Cloud">
			</a>
		</div>
		
		<nav id="menu">
			<ul id="menu-nav">
				<li>
					<a href="#home-slider">Home</a>
				</li>
				<li>
					<a ng-click="gotoElement('work')">Our Work</a>
				</li>
				<li>
					<a ng-click="gotoElement('about')">About Us</a>
				</li>
				<li>
					<a ng-click="gotoElement('pricing')">Pricing</a>
				</li>
				<li>
					<a ng-click="gotoElement('contact')">Contact</a>
				</li>
				<li>
					<a href="#">Try AirGuitar</a>
				</li>
				<li>
					<a href="#">Login</a>
				</li>
			</ul>
		</nav>
		
	</div>
</header>