<!-- AirGuitar -->
<div ng-include='"partials/work.html"'>
</div>
<!-- End AirGuitar -->
<!-- About Us -->
<div ng-include='"partials/about.html"'>
</div>
<!-- End About Us -->
<!-- Pricing -->
<div ng-include='"partials/pricing.html"'>
</div>
<!-- End Pricing -->
<!-- Big Blockquote -->
<div class="big-quote page-alternate">
	<div class="container">
		<div class="row">
			<div class="span12">
				<p>We bring a personal and effective approach to every project we work on, which is why our clients love us and why they keep coming back.</p>
				<span class="font-icon-blockquote"></span>
			</div>
		</div>
	</div>
</div>
<!-- End Big Blockquote -->
<!-- Contact Us -->
<div ng-include='"partials/contact.html"'>
</div>
<!-- End Contact Us -->